*{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
}

body{
  position: relative;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  color: rgba(78,117,163,1);
  width: 100%;
  height: 100%;
  background-image: url('/webpics/alchemical-circle-transmutation-circle-201303-1920x1080.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

a{
  text-decoration: none;
}

input, select{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(78,117,163,0.6);
  color: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #E8E8EE;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #E8E8EE;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #E8E8EE;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #E8E8EE;
}

/*Bei calc in diesem fall nimmt man beim px die hälfte der größen des Elemnts und zieht es
von den halben Größen des Elternelements ab um das Element mittig zu positionieren*/
#game, #player, #admin{
  height: 250px;
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 160px);
}

#game button, #player button, #admin #saveEle{
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  color: white;
  background-color: rgba(0,176,240,0.7);
  border: none;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

#game button{
  font-size: 50px;
}

#player button, #admin #saveEle{
  font-size: 25px;
}

/*Alchemist Game Style*/
#gameWrapper{
  max-height: 550px;
  min-height: 350px;
  max-width: 700px;
  min-width: 500px;
  position: relative;
  top: calc(50% - 175px);
  left: calc(50% - 250px);
  background-color: rgba(255, 255, 0, 0.1);

}


#gameField{
  max-width: calc(75% - 60px);
  height: calc(75% - 44px);
  position: absolute;
  margin: auto;
  top: 10%;
  left:calc(50% - 100px);
  border: none;
}

#cauldron{
  width: 200px;
  height: 200px;
  position: relative;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  background-image: url('/webpics/Magic_button_blue.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#elements, #trash{
  position: relative;
  float:left;
  min-width: 60px;
}

#elements{
  width: 25%;
  margin: 0px 0 0 25px;
}

#trash img{
  height: 44px;
  width: 44px;
  border: 3px solid black;
  border-radius: 50%;
  padding:2px;
  position: absolute;
  left: calc(50% - 22px);
}

#elements img{
  border: none;
  height: 50px;
  width: 50px;
}

#book::before{
  background-image: url('/webpics/SchrifftrolleKopf.png');
  height: 20px;
}

#book{
  width: 100%;
  background-image: url('/webpics/SchriftrolleBody2.png');
  background-repeat: repeat-y;
  background-position: center;
  background-size: auto;
}

#book img{
  position: relative;
  left: 10%;
  padding-top: 5px;
}

#menu{
  margin: 0px 25px 0 0;
  float: right;
}

#trash{
  clear: both;
  width: 100%;
  height: 54px;
  position: absolute;
  top: calc(90% - 22px);
}
